:root {
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;

  --color-green-light: #e6f5ed;
	--color-green-light-hover: #d9f0e4;
	--color-green-light-active: #b0e0c8;
	--color-green-normal: #009b4c;
	--color-green-normal-hover: #008c44;
	--color-green-normal-active: #007c3d;
	--color-green-dark: #007439;
	--color-green-dark-hover: #005d2e;
	--color-green-dark-active: #004622;
	--color-green-darker: #00361b;

	--color-yellow-darker: #463A01;
	--color-yellow-light: #FFFAE6;
	--color-yellow-light-hover: #fff8d9;
	--color-yellow-light-active: #fef1b0;
	--color-yellow-normal: #FFCB02;
	--color-yellow-normal-hover: #e4bc00;
	--color-yellow-normal-active: #CAA700;
	--color-yellow-dark: #be9d00;
	--color-yellow-dark-hover: #987D00;
	--color-yellow-dark-active: #725e00;

  .text-display-2-xl-regular {
    font-size: 72px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 90px;
    letter-spacing: -0.02em;
  }
  .text-display-2-xl-medium {
    font-size: 72px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 90px;
    letter-spacing: -0.02em;
  }
  .text-display-2-xl-semi-bold {
    font-size: 72px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -0.02em;
  }
  .text-display-2-xl-bold {
    font-size: 72px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -0.02em;
  }
  .text-display-xl-regular {
    font-size: 60px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.02em;
  }
  .text-display-xl-medium {
    font-size: 60px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -0.02em;
  }
  .text-display-xl-semi-bold {
    font-size: 60px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
  }
  .text-display-xl-bold {
    font-size: 60px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
  }
  .text-display-lg-regular {
    font-size: 48px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.02em;
  }
  .text-display-lg-medium {
    font-size: 48px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.02em;
  }
  .text-display-lg-semi-bold {
    font-size: 48px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.02em;
  }
  .text-display-lg-bold {
    font-size: 48px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.02em;
  }
  .text-display-md-regular {
    font-size: 36px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  .text-display-md-medium {
    font-size: 36px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  .text-display-md-semi-bold {
    font-size: 36px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  .text-display-md-bold {
    font-size: 36px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  .text-display-sm-regular {
    font-size: 30px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 38px;
  }
  .text-display-sm-medium {
    font-size: 30px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 38px;
  }
  .text-display-sm-semi-bold {
    font-size: 30px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 38px;
  }
  .text-display-sm-bold {
    font-size: 30px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 38px;
  }
  .text-lg-regular {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 28px;
  }
  .text-lg-medium {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 28px;
  }
  .text-lg-semi-bold {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 28px;
  }
  .text-lg-bold {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 28px;
  }
  .text-md-regular {
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 24px;
  }
  .text-md-medium {
    font-size: 16px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 24px;
  }
  .text-md-semi-bold {
    font-size: 16px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 24px;
  }
  .text-md-bold {
    font-size: 16px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 24px;
  }
  .text-sm-regular {
    font-size: 14px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 20px;
  }
  .text-sm-medium {
    font-size: 14px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 20px;
  }
  .text-sm-semi-bold {
    font-size: 14px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 20px;
  }
  .text-sm-bold {
    font-size: 14px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 20px;
  }
  .text-xs-regular {
    font-size: 12px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 16px;
  }
  .text-xs-medium {
    font-size: 12px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 16px;
  }
  .text-xs-semi-bold {
    font-size: 12px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 16px;
  }
  .text-xs-bold {
    font-size: 12px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 16px;
  }
  .effect-shadow-xs {
    box-shadow: 0px 1px 0px #bdbec0;
  }
  .effect-shadow-sm {
    box-shadow: 0px 1px 2px #101828, 0px 1px 3px #101828;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.splash-container{
  margin: 0;
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.splash-container.hide{
  opacity: 0;
  transition: opacity 1s ease;
}

.splash-container div {
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  gap: 60px;

  width: 500px;
  font-size: 55px;
}

.splash-container h1{
  margin: 0;
  text-align: center;
  letter-spacing: -1px;
}

.splash-container span{
  display: inline-block;
  overflow: hidden;
  animation: .3s swift-up ease-out forwards;	
}

.splash-container i{
  font-style: normal;
  position: relative;
  top: 55px;
  animation: .5s swift-up ease-out forwards;
}

.logo-unmul {
  position: relative;
  bottom: -10px;
  opacity: 0.7;
  animation: swift-up2 0.6s ease-out forwards;
}

.swift-up-animation {
  animation: swift-up2 0.6s ease-out forwards;
}

.swift-down-animation {
  animation: swift-down 0.6s ease-out forwards;
}

.splash-container.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes swift-up {
  to {
    top: 0;
  }
}

@keyframes swift-up2 {
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes swift-down {
  from {
    top: 0;
  }
  to {
    top: 24px;
    opacity: 1;
  }
}

.disable-selection {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none;
}

/* Add this to your existing CSS or create a new stylesheet */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip:hover .tooltip-content,
.tooltip:focus .tooltip-content {
  display: block;
}

.tooltip-content {
  display: none;
  position: absolute;
  width: max-content;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 1px 0px #bdbec0;
  z-index: 1;
}


.mb-0 {
  margin: 0px;
}

.mb-8 {
  margin-bottom: 8px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.filter-section.hidden {
  display: none;
}

#progress {
  position: absolute;
  width: 100%;
  height: 3px;
}

#bar {
  background-color: var(--color-green-normal);
  height: 100%;
  transition: width 0.1s ease;
}

#bar.hide {
  opacity: 0;
  transition: opacity 1s ease;
}

#container {
  width: 100%;
  height: 100%;
}

.feature-button {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.375rem;
  background-color: var(--color-green-normal-active);
  border-radius: 6px;
  border: solid 2px var(--color-base-white);
  justify-content: center;
  display: flex;
}

.feature-button:hover {
  background-color: var(--color-green-dark-hover);
}

.feature-button > img {
  margin: auto;
  height: 24px;
  width: 24px;
  justify-content: center;
}

.feature-button.selected-feature {
  background-color: var(--color-base-white);
  border: solid 2px var(--color-base-white);
}

.feature-button.selected-feature:hover {
  background-color: var(--color-green-light-hover);
}

.room-location {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.3px;
}

.floor-location {
  font-weight: 400;
  font-size: 0.875rem;
}

.control {
  background-color: var(--color-green-normal-hover);
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: none;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;

  height: 75px;
}

.control-item {
  margin: auto 0;
}

.desc-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  
  max-width: 500px;
  min-width: 200px;
  background: var(--color-base-white);
  color: var(--color-base-black);
  padding: 24px;
  border-radius: 12px;
  overflow: auto;
  box-shadow: 0px 1px 0px #bdbec0;

  -webkit-overflow-scrolling: touch;
}

.heading-text {
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.heading-text p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.title {
  text-align: center;
}

.operational-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.operational-time {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.operational-time p{
  margin-block-start: 0;
  margin-block-end: 0;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact div{
  display: flex;
  gap: 8px;
  align-items: center;
}

.location-dropdown {
  cursor: pointer;
  display: flex;
  min-width: 176px;
  height: 42px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  border-radius: 8px;
  background: var(--color-base-white);
  box-shadow: 0px 1px 0px #bdbec0;
}

.location-dropdown:hover {
  background-color: var(--color-green-light-hover);
}

.location-dropdown p {
  margin: 0;
  color: var(--color-green-dark-active);
}

.location-container {
  position: absolute;
  text-align: center;

  left: 50%;
  transform: translateX(-50%);
}

.icon-container {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.location-container > p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  color: var(--color-gray-200);
}

.search {
  display: flex;
  width: 375px;
  height: 453px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;

  border-radius: 12px;
  background: var(--color-base-white);
  box-shadow: 0px 4px 15px 0px rgba(148, 162, 171, 0.12);
}

.search-container {
  position: absolute;
  background-color: #0000008a;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s;
}

.search-container.visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.building-filter div,
.floor-filter div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.select-filter {
  cursor: pointer;
  padding: 8px 14px;
  width: fit-content;
  border-radius: 8px;
  font-weight: 500;

  border: 2px solid var(--color-gray-300);
  background: var(--color-base-white);
}

.select-filter.selected {
  border-color: var(--color-green-normal-active);
  background-color: var(--color-green-normal-active);
  color: var(--color-green-normal-active);
  border: 2px solid var(--color-green-normal-active);
}

.select-filter p {
  color: var(--color-gray-800) !important;
  margin: 0;
}

.select-filter.selected p {
  color: var(--color-base-white) !important;
}

.select-button {
  cursor: pointer;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 240px;

  border-radius: 10px;
  border: 2px solid var(--color-gray-300);
  background: var(--color-base-white);
}

.select-button.selected {
  border-color: var(--color-green-normal-active);
  background-color: var(--color-green-normal-active);
  color: var(--color-green-normal-active);
  border: 1.5px solid var(--color-green-normal-active)
}

.select-button p {
  color: var(--color-gray-800) !important;
  margin: 0;
}
.select-button.selected p {
  color: var(--color-base-white) !important;
}

.header-input {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.filter-button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-grow: 1;

  border-radius: 8px;

  background-color: var(--color-green-normal-active);
  border: solid 1.5px var(--color-green-normal-active);
}

.filter-button:hover {
  transition: 0.2s ease-in-out;
  border-color: var(--color-green-dark-hover);
  background-color: var(--color-green-dark-hover);
  border: solid 1.5px var(--color-base-white)
}


.filter-button.selected {
  background-color: var(--color-base-white);
  border: solid 1.5px var(--color-green-normal-active);
}

.filter-button.selected:hover {
  transition: 0.2s ease-in-out;
  border: solid 1.5px var(--color-green-normal-active);
  background-color: var(--color-green-light);
}

.selection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-right: 12px;
  align-self: stretch;

  overflow-y: scroll;
  max-height: calc(100vh - 200px);
}

/* Customize the scrollbar appearance */
.selection-container::-webkit-scrollbar {
  width: 12px;
}

.selection-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.selection-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.selection-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.building {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.floor{
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  width: 100%;
}
.floor p {
  margin: 0px;
}

.gray-text {
  color: var(--color-gray-700);
}

.header-input {
  display: flex;
  align-self: stretch;
}

.floormap-container {
  position: absolute;
  top: 24px;
  left: 24px;

  display: none;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  border-radius: 8px;
  border: 1.5px solid var(--color-base-white);

  transform-origin: top left; /* Set the transform origin to the top right corner */
  transform: scale(1); /* Initial scale */
}

.floormap {
  width: 202px;
  height: 99px;
  opacity: 0.7;

  border-radius: 4px;
}

.red-dot {
  position: absolute;
  top: 22px;
  left: 97px;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%; /* Make it a circle */
  animation: pulse 1s infinite; /* Add a pulsating animation */
}

/* Keyframes for pulsating animation */
@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.2);
      opacity: 0.7;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@media (max-width: 780px) {

  .text-display-sm-semi-bold {
    font-size: 24px;
  }

  .search-container {
    height: calc(100vh - 70px);
  }

  .location-container {
    position: static;

    left: 0%;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .location-dropdown {
    position: absolute;
    bottom: 85px;
  }

  .room-location {
    font-weight: 700;
    font-size: 1rem;
  }

  .floor-location {
    font-weight: 400;
    font-size: 0.75rem;
  }

  .control {
    height: 70px;

    padding-right: 1rem;
    padding-left: 1rem;
  }

  .floormap-container {
    transform: scale(0.8);
  }
}